<!-- <div id="bg" style="background-color:{{colorbg}}">
  <div id= "comp" style="color:{{color}}">{{compliment}}</div> -->



  <div id= "itembox">
    <div class="mix-list">

    </div>
    <img src="{{mixfeed}}"/>
  </div>
</div>
